.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  margin-bottom: 40px;
  border-bottom: 1px solid #f0f0f0;
}

.add-total-budget, .add-budget-item {
  border: 1px solid #ccc;
  padding: 20px;
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
}

.summary-boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summary-boxes .box {
  border: 1px solid #ccc;
  padding: 10px 30px;
  min-width: 150px;
  text-align: center;
}

.summary-boxes .box p {
  font-weight: 600;
}

.budget-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px 15px 0 15px;
  margin-bottom: 10px;
}

.expand-expense {
  align-self: center;
  cursor: pointer;
}

.expense-list {
  width: 80%;
  margin: auto;
}

.add-expense, .expense-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}